{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}تعديل رابط{% else %}إضافة رابط جديد{% endif %}{% endblock %}

{% block dashboard_content %}
<h1>{% if object %}تعديل رابط{% else %}إضافة رابط جديد{% endif %}</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">حفظ</button>
    <a href="{% url 'dashboard:social_link_list' %}" class="btn btn-secondary">إلغاء</a>
</form>
{% endblock %}
